{% extends 'main.html' %}

{% block content %}
    <h2 class="top-system">КОНТАКТНАЯ ИФОРМАЦИЯ</h2>

    <div class="about-wrap">
        <div class="completed">
            <div>
                <p>Выполнил работу:</p>
                <p>Должность:</p>
                <p>Почта:</span></p>
            </div>
            <div>
                <p>АБРАМЯН ГУРГЕН ЮРЬЕВИЧ</p>
                <p>студент</p>
                <p>gurgen.abramyan.1995@gmail.com</p>
            </div>
        </div>
        <div class="checked">
            <div>
                <p>Научный руководитель:</p>
                <p>Должность:</p>
                <p>Почта:</p>     
            </div>
            <div>
                <p>ЛЕБЕДЕВ КОНСТАНТИН АНДРЕЕВИЧ</p>
                <p>(профессор каф. ВМИ, доктор физ.-мат. наук, доцент)</p>
                <p>klebedev.ya@yandex.ru</p>
            </div>
        </div>
    </div>
{% endblock %}