* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size: 20px;
	color: #333;
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

/********** ШАПКА САЙТА **********/
.container-brand {
	width: 1120px;
	margin: 0 auto;
	padding: 20px 10px;
}

.brand {
	width: 900px;
	float: left;
}

.enter {
	width: 220px;
	float: right;
}

.container-brand, #brand, #enter {
	height: 70px;
}

.btn-link {
	display: block;
	padding: 9px;
	background: #000;
	color: #fff;
	text-decoration: none;
	width: 70px;
	text-align: center;
	margin: 15px auto;
	border: 1px solid #000;
}

.btn-link:hover {
	background: #fff;
	color: #000;
}

.btn-link, .nav li a, .panel-head a, .btn-form {
	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}

/********** МЕНЮ **********/
.nav ul, .nav li, .nav{
	height: 50px;
}

.nav {
	margin: 20px auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
	width: 1120px;
	letter-spacing: 2px;
	position: relative;
}

.nav ul {
	float: left;
}

.nav li {
	height: 50px;	
	list-style: none;
	display: inline-block;
}

.nav li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #000;
}

.nav li a:hover {
	color: #fff;
	background: #000;
}

#top-menu{
	display: none;
}

/********** ГЛАВНАЯ СТРАНИЦА **********/
.about-site {
	padding: 20px 10px;
	width: 1120px;
	margin: 0 auto;
	text-align: justify;
}

.top-system {
	text-align: center;
	width: 100%;
	margin: 50px auto;
}

.container-links {
	padding: 20px 0;
	width: 730px;
	margin: 0 auto;
	overflow: auto;
}

.container-links h2 {
	text-align: center;
	padding-bottom: 20px;
}

.numeric-link p:nth-child(2), .algebraic-link p:nth-child(2){
	border-left: 4px solid #ccc;
	padding-left: 10px;
}

.numeric-link, .algebraic-link {
	width: 300px;
	text-align: justify;
}

.numeric-link {
	float: left;
}

.algebraic-link {
	float: right;
}

/********** ЧИСЛОВЫЕ СИСТЕМЫ **********/
#accordion {
	width: 1120px;
	margin: 50px auto;
	overflow: hidden;
	padding-left: 10px;
}

.panel_num {
	width: 158px;
	margin: 0 auto;
	float: left;
}

.panel_alg {
	width: 224px;
	margin: 0 auto;
	float: left;
}

.panel-head {
	height: 48px;
	color: #000;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 24px;
	padding: 5px 0;
	border: 1px solid #000;
	border-bottom: 7px solid #000;
}

#accordion ul li {
	display: block;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}


#accordion ul li a {
	display: block;
	padding: 15px 15px;
	text-decoration: none;
	color: #000;
}

#accordion ul li a {
	padding: 5px 15px;
}

#accordion ul li a:hover {
	text-decoration: underline;
	color: #000;
}

/********** FORMS **********/
.wrap_form {
	width: 458px;
	padding: 30px 10px;
	margin: 50px auto;
	border: 1px solid #000;
}

.wrap_form h2 {
	text-align: center;
	padding-bottom: 30px;
}

.inputs input{
	padding: 5px;
	border: 1px solid #000;
	margin-bottom: 22px;
	height: 20px;
}

.lines {
	overflow: auto;
}

.labels {
	width: 150px;
	float: left;
}

.labels label{
	display: block;
	text-align: right;
	padding: 5px;
	margin-bottom: 20px;
}

.inputs {
	float: right;
	width: 270px;
}

.buttons_signup, .buttons_login {
	clear: both;
	margin: 5px auto;
}

.buttons_login {
	width: 190px;
}

.buttons_signup {
	width: 150px;
}

.buttons_login a {
	margin-left: 20px;
}

.btn-form {
	color: #fff;
	background: #000;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	border: 1px solid #000;
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 0;
	cursor: pointer;
}

.btn-form:hover {
	color: #000;
	background: #fff;
}

.login_error {
	display: block;
	text-align: center;
	clear: both;
}

.inputs input:focus, .inputs input:active {
	outline: 1px solid #000;
}

/********** FOOTER **********/
.contact-footer {
	background: #444;
	color: #fff;
	height: 220px;
	clear: both;
}

.contact-footer p {
	color: #999; 
}

.contact-footer > div {
	width: 730px;
	margin: 0 auto;
	letter-spacing: 2px;
	line-height: 200%;
	height: 220px;
}

.contact_me {
	float: left;
	margin: 30px 0;
}

.links {
	float: right;
	margin: 30px 0;
}

.contact-footer > div i {
	color: #fff;
	padding-right: 10px;
}

.contact-footer h3 {
	padding-left: 30px;
}

.contact-footer p a {
	color: #999;
	text-decoration: none;
}

.contact-footer p a:hover {
	color: #fff;
	text-decoration: underline;
}

footer {
	height: 50px;
	background: #222;
}

footer p {
	width: 100%;
	margin: 0 auto;
	color: #fff;
	padding: 14px 0;
}

.container-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 270px;
}

.content {
	padding-bottom: 270px;
}

/********** ФАЙЛ ТЕКСТА **********/
.wrap-file {
	width: 1120px;
	margin: 50px auto;
	text-align: center;
}

.file-text {
	padding: 10px 0;
	width: 898px;
	border: none;
	height: 700px;
	margin: 0 auto;
	border: 1px solid #000;
}

.p-file {
	width: 900px;
	margin: 50px auto;
}

/********** ABOUT **********/

.about-wrap {
	width: 1098px;
	margin: 0 auto;
	padding: 10px;
	overflow: auto;
	margin-bottom: 50px;
}

.completed {
	float: left;
	width: 430px;
	border: 1px solid #000;
	padding: 10px;
}

.checked {
	float: right;
	width: 530px;
	border: 1px solid #000;
	padding: 10px;
}

.checked div:first-child {
	float: left;
	width: 168px;
	text-align: right;
}

.checked div:last-child {
	float: right;
	width: 352px;
}

.completed div:first-child {
	float: left;
	width: 150px;
	text-align: right;
}

.completed div:last-child {
	float: right;
	width: 260px;
}

.checked div:last-child  p, .completed div:last-child p {
	border: 1px solid #000;
}

.about-wrap p {
	margin: 5px 0;
	padding: 5px;
}

/********** @media(1199px) **********/
@media screen and (max-width: 1199px) {
	.about-site{
		width: 98%;
		padding: 1%;
	}

	.container-brand{
		width: 94%;
		padding: 3%;
	}

	.brand h1, .brand p{
		width: 100%;
	}

	.nav {
		width: 100%;
		margin: 20px 0;
	}

	.brand{
		width: 80%;
	}

	#btn-enter {
		margin: 15px 0;
	}

	.enter {
		width: 20%;
		float: left;
	}

	footer p {
		width: 100%;
	}

	.about-wrap {
		width: 98%;
		padding: 1%;
	}

	.checked, .completed {
		float: none;
		margin: 20px auto;
		overflow: auto;
		width: 530px;
		padding: 0;
	}

	.checked div:last-child,
	.completed div:last-child {
		padding-right: 5px;
	}
}

/********** @media(850px) **********/
@media screen and (max-width: 850px) {
	.nav {
		min-height: 50px;
	}	
	
	.nav ul {
		width: 100%;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	
	.nav li {
		display: none;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	
	#top-menu {
		display: block;
	}
	
	#top-menu a{
		color: #000;
	}

	#top-menu a:hover{
		color: #fff;
	}

	.nav ul:hover li {
		display: block;
	}
}

/********** @media(729px) **********/
@media screen and (max-width: 729px) {
	.container-links {
		width: 100%;
	}

	.numeric-link {
		width: 100%;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		margin-bottom: 20px;
		padding: 10px 0;
	}

	.algebraic-link {
		width: 100%;
		border-bottom: 3px solid #000;
		margin-bottom: 20px;
		padding: 10px 0;
	}

	.contact-footer, .contact-footer div{
		width: 100%;
	}

	.contact_me, .links {
		width: 100%;
		text-align: center;
	}

	.container-footer {
	    height: 480px;
	}

	.contact-footer {
	    height: 430px;
	}

	.content {
		padding-bottom: 480px;
	}
}

@media screen and (max-width: 560px) {
	.checked, .completed {
		border: none;
		width: 98%;
		padding: 1%;
	}

	.checked div:first-child p:last-child,
	.completed div:first-child p:last-child,
	.checked div:first-child p:nth-child(2),
	.completed div:first-child p:nth-child(2) {
		display: none;
	}

	.checked div:first-child,
	.checked div:last-child,
	.completed div:first-child,
	.completed div:last-child{
		width: 100%;
		text-align: center;
	}

	.checked div:last-child p, .completed div:last-child p {
		border: none;
	}
}