{% extends 'main.html' %}

{% block content %}
	<div class="wrap_form">
		<h2>ВХОД</h2>
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			
			<div class="lines">
				<div class="labels">
					<label for="username">Логин:</label>
				</div>
				<div class="inputs">
					<input name="username" type="text" id="username" value="">
				</div>
			</div>
			<div class="lines">
				<div class="labels">
					<label for="password">Пароль:</label>
				</div>
				<div class="inputs">
					<input name="password" type="password" id="password" value="">
				</div>
			</div>

			{% if login_error %}
				<label class="login_error">{{ login_error }}</label>
			{% endif %}

			<div class="buttons_login">
				<input class="btn-form" type="submit" name="enter" value="ВОЙТИ">
				<a class="btn-form" href="{% url 'signup' %}">РЕГИСТРАЦИЯ</a>
			</div>
		</form>
	</div>
{% endblock %}